.jumbotron{
    background-image: url("../img/pizza.png");

}
h1{
    text-align: center;
    background-color: white;
    opacity: 50%;
}
.card-margin{
    margin: 1em;
}
.lightgray{
    background-color: rgba(231, 231, 228, 0.93);
}
.footerPad{
    padding: 1em;
}