body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
 .message{
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 5px;
     border: 2px solid lightgrey;
     opacity: 60%;
     padding: 5px 5px 5px 6px;
 }
 .message-info{
     background-color: #459ef9;
     color: darkblue;
 }

 .message-success{
     background-color: #0fb784;
     color: darkgreen;
 }
 .message-warning{
     background-color:lightgoldenrodyellow ;
     color:darkkhaki;
 }

 .message-error{
     background-color: lightcoral;
     color:darkred;
 }
