.header1{
    color: white;
    padding-left: 1rem;
    margin-bottom: 0;
}
h2{
    padding-top: 1rem;
    text-decoration: #2858a4 underline;
}
body{
    background-color: #cbffcd
}
#map{
    width: 80%;
    height: 400px;
}
.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 10%;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}