.header1{
    color: white;
    padding-left: 1rem;
    margin-bottom: 0;
}
h2{
    padding-top: 1rem;
    text-decoration: #2858a4 underline;
}
body{
    background-color: #cbffcd
}
#map{
    width: 100%;
    height: 500px;
}